{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-5 mb-4 mt-4">
            {{ form_row(form.start) }}
        </div>
        <div class="col-5 mb-4 mt-4">
            {{ form_row(form.end) }}
        </div>
        <div class="col-12 mb-4 mt-4">
            {{ form_row(form.title) }}
        </div>                                                 
            <div class="col-12 mb-4 mt-4">
                {{ form_row(form.description) }}
            </div>
            <div class="col-4 mb-4 mt-4">
                {{ form_row(form.backgroundColor) }}
            </div>
            <div class="col-4 mb-4 mt-4">
                {{ form_row(form.borderColor) }}
            </div>                        
            <div class="col-4 mb-4 mt-4">
                {{ form_row(form.textColor) }}
            </div>                         
            <div class="col-4 mb-4 mt-4">
                {{ form_row(form.allDay) }}
            </div>
            <div class="row">
                <div class="col-4 mt-4">   
                    {{ form_row(form.submit, { 'label': 'Envoyer' }) }}
                </div>
            </div>     
    </div>   
</div> 
   
{{ form_end(form) }}

