{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="row">
            <div class="col-6 mb-4 mt-4">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-6 mb-4 mt-4">    
                {{ form_row(registrationForm.pseudo, { label: 'Entre votre nom complet'}) }}
            </div>    
            <div class="col-6 mb-4 mt-4">
                {{ form_row(registrationForm.plainPassword, { label: 'Password'}) }}
            </div>   
            <div class="col-6 mb-4 mt-4">
                {{ form_row(registrationForm.roles, { label: 'Choisis le rôle de la personne'}) }}
            </div>    
            <div class="col-12 mb-4 mt-4">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>   
            <div class="col-12 mb-4 mt-4">
                {{ form_row(registrationForm.recaptcha) }}
                {{ form_errors(registrationForm.recaptcha) }}
    {# That will display the error of the captcha to user #}
            </div>   
                <button class="btn btn-primary col-4" type="submit" class="btn">Register</button>
            </div>
        </div>
    </div>            
    {{ form_end(registrationForm) }}
{% endblock %}
