{% extends 'base.html.twig' %}

{% block title %}Les categories{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center">Liste des catégories</h1>
        <button type="button" class="btn btn-lg bg-secondary mt-5 mb-5 col-3 "><a href="{{ path('add_category') }}">Ajouter une catégorie</a></button>
        <table id="table_id" class="table table-striped mt-4 display">
            <thead>
            <tr class="bg-secondary">
                <th scope="col ">Catégorie</th>
                <th scope="col">Editer</th>
                <th scope="col">supprimer</th>
            </tr>
            </thead>
            <tbody>
                {% for category in categorys %}
                <tr>
                    <td><a href="{{ path('detail_category' , {"id": category.id}) }}" >{{category.categoryName }}</a> </td>
                    <td><button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('edit_category' , {'id': category.id}) }}">Editer</a></button></td>
                    <td><button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('delete_category' , {'id': category.id}) }}">supprimer</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
