{% extends 'base.html.twig' %}

{% block title %}Détail de la Session{% endblock %}

{% block body %}

<h1 class="text-center">Session {{session.formation}}</h1>
    <h2 class="text-center">Les Modules</h2>
        <div class="container">
            <div class="row ">
                <p>date : <strong>{{session.dateStart | date('d/m/Y') ~" au "~ session.dateEnd | date('d/m/Y')}}</strong> : {{session.dateDays}}</p>
                <p>En tout la formation comporte(s) : {{ session.programs | length }} modules dans la formation</p>
                    {% if session.totalDaysFormation > session.totalDaysSession %}
                        <h1 class="bg-danger"> Le nombre de jour allouée a la session est dépasser veuillez revoir vos modules <br>{{ session.totalDaysFormation }} jours de formation pour {{session.totalDaysSession}} jours alloués</h1>
                    {% else %}
                        <p> En tout la formation compte(s) : {{ session.totalDaysFormation }} jours de formation pour {{session.totalDaysSession}} jours alloués </p>
                    {% endif %}
                <button type="button" class="btn btn-lg bg-secondary mt-5 mb-5 col-3"><a href="{{ path('add_program', {'id': session.id}) }}">Ajouter un module à la session </a></button>
                <table id="table_id" class="table table-striped mt-4 display">
                    <thead>
                    <tr class="bg-secondary">
                        <th scope="col ">Catégorie associé</th>
                        <th scope="col ">Modules</th>
                        <th scope="col ">Jours de formation</th>
                        <th scope="col ">Editer</th>
                        <th scope="col ">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for program in session.programs %}
                        <tr>
                            <td>{{ program.workshop.category }}</td>
                            <td>{{ program.workshop }}</td>
                            <td>{{ program.nbDays }}</td>
                            <td><button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('edit_program' , {'id': program.id}) }}">Modifier</a></button></td>
                            <td><button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('delete_program' , {'id': program.id}) }}">supprimer</a></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row row-cols-lg-2">  
                <div class="col">         
                    <h2 class="mt-5 mb-5">Les stagiaire inscrits {{ session.nbPlaceReserved }} /{{ session.nbPlace }}</h2>
                        <table id="table_id2" class="table table-striped mt-4 display">
                            <thead>
                                <tr class="bg-secondary">
                                    <th scope="col ">civilité</th>
                                    <th scope="col ">Stagiaire</th>
                                    <th scope="col ">Information stagiaire</th>
                                    <th scope="col ">Désinscrire</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for intern in session.interns %}
                                <tr>
                                    <td>{{ intern.civility }}</td>
                                    <td>{{ intern }}</td>
                                    <td><a href="{{ path('detail_intern' , {'id': intern.id}) }}">Informations stagiaire</a></td>
                                    <td><button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('removeIntern_session' , {'session_id': session.id , 'intern_id': intern.id }) }}">Désinscrire</a></button>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="col">
                    <h2 class="mt-5 mb-5">Les stagiaire non inscrits  </h2>
                    <table id="table_id3" class="table table-striped mt-4 display">
                        <thead>
                            <tr class="bg-secondary">
                                <th scope="col ">civilité</th>
                                <th scope="col ">Stagiaire</th>
                                <th scope="col ">Information stagiaire</th>
                                <th scope="col ">Inscrire</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for intern in noInscrits %}
                            <tr>
                                <td>{{ intern.civility }}</td>
                                <td>{{ intern }}</td>
                                <td><a href="{{ path('detail_intern' , {'id': intern.id}) }}">Informations stagiaire</a></td>
                                <td> {% if session.remainingPlaces == 0  %}
                                        <p class="bg-warning">SESSION FULL</p> 
                                     {% else %}
                                        <button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('addIntern_session' , {'session_id': session.id , 'intern_id': intern.id }) }}">Inscrire</a>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
                <button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{ path('app_session') }}">retour</a></button>
            </div>
        </div>
{% endblock %}
